

*{
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato',sans-serif;
}

.home, 
.reports,  
.producs{
  display: flex;
  height: 98vh;
  align-items: center;
  justify-self: center;
  font-size: 3rem;
}